body {
  background-color: #f0f4f8; /* light blue-gray */
}

header {
  background-color: #2a7ae2; /* dark blue */
  color: white;
}

/* body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
} */

